:root {
    --header-height: 144px;
}

* {
    font-family:Calibri;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header {
    position: fixed;
    width: 100vw;
    height: var(--header-height);
    background-color: black;
    color: white;
    z-index: 100;
}

header h1 {
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid white;
}

.header-title-bar-side {
    position: absolute;
    top: 2.5em;
    width: 33%;
    color: forestgreen;
    font-family: 'Courier New';
    overflow: hidden;
}

.header-menu {
    font-size: large;
    text-align: center;
}

.header-menu a.header-nav-link {
    text-decoration: none;
    color: cornflowerblue;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    padding-bottom: calc(1em - 1px);
}

.header-menu a.header-nav-link.active {
    background-color: tan;
    color: black;
}

.header-menu a.header-nav-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

body {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
}


main {
    float: left;
    padding: 20px;
    width: 100vw;
    margin-top: var(--header-height);
    height: calc(100% - var(--header-height));
    background-color: tan;
    overflow: auto;
}

#about-container {
    width: 80%;
    height: 100%;
    margin-left: 15%;
    padding: 10px;
}

.about-div {
    float: left;
    padding: 30px;
    font-size: x-large;
    background-color: wheat;
    border: 1px white dashed;
    border-radius: 10px;
}

.about-more-info {
    float: left;
    padding: 30px;
    font-size: large;
    border: 1px red solid;
}
.about-more-info ul > li {
    margin-left: 25px;
}

.project-div {
    display: block;
    padding: 10px;
    float: left;
    min-width: 100%;
    height: 55%;
    background-color: wheat;
    background-clip: content-box;
}

.project-description {
    padding: 40px;
    width: 50%;
    height: 100%;
    float: left;
    border: 1px white dashed;
    border-bottom: 5px black solid;
    overflow-y: auto;
}

.project-description h1 {
    font-style: italic;
}

.project-description p {
    font-size:larger;
    padding: 10px;
}

.project-screenshot {
    padding: 30px;
    width: 50%;
    height: 100%;
    border: 1px white dashed;
    border-bottom: 5px black solid;
    float: left;
}

.project-screenshot img {
    max-width: 100%;
    max-height: 100%;
}

/* The side navigation menu */
.sidebar {
    width: calc(25% - 40px);
    margin-top: 10px;
    margin-left: 10px;
    background-color: wheat;
    position: fixed;
    overflow: auto;
}

/* Sidebar links */
.sidebar a.sb-nav-link {
    display: block;
    color: black;
    font-size: x-large;
    padding: 16px;
    text-decoration: none;
    /*text-align: right;*/
    border-bottom: 5px black solid;
}

/* Active link */
.sidebar a.sb-nav-link.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a.sb-nav-link:hover:not(.active) {
    background-color: #555;
    color: white;
}

.work-div {
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
}

.experience-div {
    padding: 30px;
    margin-bottom: 20px;
    font-size: large;
    border: 1px white dashed;
    overflow-y: auto;
}

#puzzle-solver {
    width: 55%;
    height: 100%;
    padding: 10px;
    margin-left: 25%;
    box-sizing: border-box;
}

#puzzle-left-div {
    width: calc(50% - 10px);
    float:left;
    margin-right: 10px;
}

#playPuzzDiv {
    width: 100%;
    float: left;
    padding: 15px;
    background-color: wheat;
    border: 1px white dashed;
    border-bottom: 5px black solid;
    border-radius: 10px 10px 0 0;
}

#puzzDiv {
    display: inline-block;
    width: 50%;
    float: left;
    border-right: 1px black dashed;
    overflow: auto;
}

#playPuzzDiv button {
    padding:3px;
}

#solutionDiv {
    display: none;
    width: 50%;
    height: 100%;
    float: left;
    padding: 10px;
    background-color: wheat;
    border: 1px white dashed;
    border-radius: 10px;
    overflow: auto;
}

/* CSS to hide py-script loading messages */
py-config {
    display: none
}

py-script:not(:defined) {
    display: none
}

py-repl:not(:defined) {
    display: none
}